<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        <title>Spring</title>
        <meta charset="UTF-8" />

    </head>
    <body style="width: fit-content; padding-top: 3em; margin: auto;">
        <form action="#" th:action="@{/press}" method="post">
            <button class="btn btn-info btn-outline-dark" type="submit">Press here</button>
        </form>
        <p style="width: fit-content; margin: auto;" th:text="${press}">...</p>
    </body>
</html>
